
body{
background-color: green;

}

.game-container{
    
    size: 100%;
    background-color: grey;
    height: 100vh;
    padding: 30px;
    position: relative;

    
}


.timerDiv{
    background-color: white ;
    border: black solid;
    position: absolute;
    height: 450px;
    width: 100px;
    left: 4%;
    top: 2%;


}



.currentScore{
    background-color: white ;
    border: black solid;
    position: absolute;
    height: 50px;
    width: 100px;
    right: 4%;
    top: 2%;



}








.question{
    background-color: white;
    width: 350px;
    height: 450px;
    margin: auto;
    text-align: center;

}


.answers{

    background-color: white;

    width: 80vh;
    height: 400px;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border: 20px;
    border: black solid;
    display: flex;
    justify-content: center;
    align-items: center;

    


}

.answers>div{
    background-color: gray;
width: 250px;
height: 300px;
border:blue solid;
margin: 40px;
flex-direction: row;

text-align: center;
align-items: center;

}


.finalScore{


    border: greenyellow solid;
}